In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Set up local environment and load required packages

In [1]:
import os
download_path = os.path.expanduser("~/Downloads/so_affiliate")

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import re
import pytz

In [6]:
# set the path for this notebook to run on local environment.    t
base_path =f'{download_path}/master_pool'
print(base_path)

/Users/jiayuanpeng/Downloads/so_affiliate/master_pool

In [7]:
# Base path for master_pool
base_path =f'{download_path}/master_pool'

# Path for echotick upload
echotik_folder_path = f'{base_path}/echotik_upload'
# list all files in the echotik_upload folder by using list comprehension
echotik_file_names = [f for f in os.listdir(echotik_folder_path) if os.path.isfile(os.path.join(echotik_folder_path, f))]
# print all file names found in the echotik_upload directory
print('echotik_upload: ', echotik_file_names)

# Path for manual upload
manual_folder_path = f'{base_path}/manual_upload'
# list all files in the manual_upload folder by using list comprehension
manual_file_names = [f for f in os.listdir(manual_folder_path) if os.path.isfile(os.path.join(manual_folder_path, f))]
# print all file names found in the manual_upload directory
print('manual_upload: ', manual_file_names)

# Path for master pool view
master_pool_path = f'{base_path}/master_pool_view'
# list all files in the master_pool_view folder by using list comprehension
main_file_names = [f for f in os.listdir(master_pool_path) if os.path.isfile(os.path.join(master_pool_path, f))]
# print all file names found in the master_pool_view directory
print('master_pool_view: ', main_file_names)

# Path for clean view
clean_view_path = f'{base_path}/clean_view'
# list all files in the clean_view folder by using list comprehension
cleanview_file_names = [f for f in os.listdir(clean_view_path) if os.path.isfile(os.path.join(clean_view_path, f))]
# print all file names found in the clean_view directory
print('clean_view: ', cleanview_file_names)

# Path for the blacklist
delete_creator_path = f'{base_path}/blacklist'
# list all files in the blacklist folder by using list comprehension
deletecreator_file_names = [f for f in os.listdir(delete_creator_path) if os.path.isfile(os.path.join(delete_creator_path, f))]
# print all file names found in the blacklist directory
print('blacklist: ', deletecreator_file_names)

# Path for upload_error_check
error_check_path = f'{base_path}/upload_error_check'
# list all files in the upload_error_check folder by using list comprehension
errorcheck_file_names = [f for f in os.listdir(error_check_path) if os.path.isfile(os.path.join(error_check_path, f))]
# print all file names found in the upload_error_check directory
print('upload_error_check: ', errorcheck_file_names)

echotik_upload:  []
manual_upload:  ['Elaiza_updateinfo_20240601.xlsx', 'Elaiza_updaterate_20240531.xlsx', 'Fhaye_scouting_MorpheJbDolceByrd_20240603.xlsx']
master_pool_view:  ['affiliate_masterpool.csv']
clean_view:  ['clean_view.xlsx']
blacklist:  ['blacklist.xlsx']
upload_error_check:  ['2024-05-03 14_54_29_Elaiza_updateproductinfo_tower28_20240427_notthandles.xlsx', '2024-04-05 11_52_20_Elaiza_scoutingbaborpacas_20240405_no_uploaddate.xlsx', '2024-05-03 14_54_29_Elaiza_updateproductinfo_milk_20240427_notthandles.xlsx', '2024-05-03 14_58_48_Elaiza_updateproductinfo_tower28_20240427_notthandles.xlsx', '2024-05-31 14_32_06_emails_20240531_wrongcolumn_Unnamed_ 2, Unnamed_ 3, Unnamed_ 4.xlsx', '2024-05-15 17_37_17_Fhaye_scouting_jb_20240509_notthandles.xlsx', '2024-05-31 14_32_06_Elaiza_updaterate_20240531_notthandles.xlsx', '2024-05-29 11_57_09_Fhaye_scouting_DolceJbNhie_20240520_no_uploaddate.xlsx', '2024-03-25 15_22_00_Fhaye_renewemail_20240322_wrongcolumn_product_name, approved_date, delivered_date.xlsx', '2024-05-03 14_58_48_Elaiza_updateproductinfo_milk_20240427_notthandles.xlsx', '2024-04-02 12_52_04_Elaiza_scoutingaccount_20240330_wrongcolumn_followers.xlsx', '2024-04-05 15_06_08_徐杭 358 100_wrongcolumn_Unnamed_ 0, tt_commerce.xlsx', '2024-05-10 15_23_53_Fhaye_scouting_jb_20240509_wrongcolumn_emails.xlsx', '2024-05-31 14_49_25_Elaiza_updaterate_20240531_notthandles.xlsx', '2024-05-31 14_32_06_Fhaye_scouting_DolceJbNhie_20240520_no_uploaddate.xlsx', '2024-04-05 11_52_20_Elaiza_scoutingaccount_20240403_notthandles.xlsx', '2024-05-29 11_57_09_Isabelle_scouting_ptr_20240523_no_uploaddate.xlsx', '2024-05-15 17_47_46_Fhaye_scouting_jb_20240509_notthandles.xlsx', '2024-04-11 15_42_27_Elaiza_scoutingaccount_20240403_notthandles.xlsx', '2024-05-10 15_42_19_Fhaye_scouting_jb_20240509_wrongcolumn_emails.xlsx', '2024-05-15 17_44_34_Fhaye_scouting_jb_20240509_notthandles.xlsx']

### Data Cleaning for master dataframe

In [8]:
# Read the master pool CSV file into a DataFrame
# its only returns the 1st file within the master_pool folder
# dtype=str ensures that all data is read to avoid datatype mismatches
master = pd.read_csv(f'{master_pool_path}/{main_file_names[0]}', dtype=str)

# clean the tt_handles column in the master dataframe
# remove the new line characters
master['tt_handles'] = master['tt_handles'].str.replace('\n', '', regex=True)
# remove the carriage return characters preventing overwritten contents
master['tt_handles'] = master['tt_handles'].str.replace('\r', '', regex=True)
# replace multiple whitespaces to a single whitespace
master['tt_handles'] = master['tt_handles'].str.replace('\s+', ' ', regex=True)
# replace one or more non-breaking space characters with a white space, allow us to split across lines if needed
master['tt_handles'] = master['tt_handles'].str.replace('\xa0+', ' ', regex=True)
# remove leading and trailing whitespace
master['tt_handles'] = master['tt_handles'].str.strip()

# get all column names for the master dataframe
master_column = master.columns
# get today's datetime with a designated format
today = datetime.now(pytz.timezone('US/Pacific')).strftime('%Y-%m-%d %H:%M:%S')

# set the path for the dataframe copy
base_copy =f'{download_path}/copy'

# set the path to save the master pool copy
copy_path_master_pool = f'{base_copy}/copy_master_pool'
# set the path to save the manual copy
copy_path_manual = f'{base_copy}/copy_manual'
# set the path to save the echotik copy
copy_path_echotik = f'{base_copy}/copy_echotik'

# save the cleaned master DataFrame to a CSV file
# the file name includes the current date and time
master.to_csv(f'{copy_path_master_pool}/{today}_affiliate_masterpool.csv', index=False)

# print a message indicating that the file has been saved successfully
print(f"File {today}_affiliate_masterpool.csv has been saved successfully.")

SyntaxError: unexpected character after line continuation character (438741831.py, line 20)

In [ ]:
# Read the master pool CSV file into a DataFrame
# its only returns the 1st file within the master_pool folder
# dtype=str ensures that all data is read to avoid datatype mismatches
master = pd.read_csv(f'{master_pool_path}/{main_file_names[0]}', dtype=str)

# optimized code for data cleaning
master['tt_handles'] = master['tt_handles'] \
    .str.replace('\n', '', regex=True) \  # remove the new line characters
    .str.replace('\r', '', regex=True) \  # remove the carriage return characters preventing overwritten contents
    .str.replace('\s+', ' ', regex=True) \  # replace multiple whitespaces with a single whitespace 
    .str.replace('\xa0+', ' ', regex=True) \  # replace one or more non-breaking space characters with a white space, allowing us to split across lines if needed
    .str.strip()  # remove leading and trailing whitespace


# get all column names for the master dataframe
master_column = master.columns
# get today's datetime with a designated format
today = datetime.now(pytz.timezone('US/Pacific')).strftime('%Y-%m-%d %H:%M:%S')

# set the path for the dataframe copy
base_copy =f'{download_path}/copy'

# set the path to save the master pool copy
copy_path_master_pool = f'{base_copy}/copy_master_pool'
# set the path to save the manual copy
copy_path_manual = f'{base_copy}/copy_manual'
# set the path to save the echotik copy
copy_path_echotik = f'{base_copy}/copy_echotik'

# save the cleaned master DataFrame to a CSV file
# the file name includes the current date and time
master.to_csv(f'{copy_path_master_pool}/{today}_affiliate_masterpool.csv', index=False)

# print a message indicating that the file has been saved successfully
print(f"File {today}_affiliate_masterpool.csv has been saved successfully.")

In [5]:
# Delete file function
def delete_file(file_path_to_delete):
    """
    deletes a certain file if it exists at the given file path.

    Parameters:
    file_path_to_delete (str): The path of the file to be deleted.

    Returns:
    Message indicates file was deleted or file path doesn't exist
    """
    if os.path.exists(file_path_to_delete):
        os.remove(file_path_to_delete)
        print(f"Delete: File {file_path_to_delete} has been deleted successfully.")
    else:
        print(f"File {file_path_to_delete} not found.")

# Update info function
def update_info(df, col_name):
    # if we have new value in columns, it will update to the new value
    """
    Updates a specified column in the DataFrame with new values from associated columns and drop those columns.

    Parameters:
    df (DataFrame): The DataFrame containing the data to update.
    col_name (str): The column to update.

    Returns:
    a new column that contains rows from col_name_2 and col_name 1 into a single column but prioritize col_name_2
    """
    df[col_name] = df.apply(lambda row: row[f'{col_name}_2'] if pd.notna(row[f'{col_name}_2'])
                                                else row[f'{col_name}_1'], axis=1)
    df.drop(columns=[f'{col_name}_1', f'{col_name}_2'], inplace=True)

# The function to get unique category in uploading
def unique_category (list1, list2):
    # merge the lists and remove duplicate items by converting them to a set
    """
    Merges two lists and returns a comma-separated string of unique elements.

    Parameters:
    list1 (list): The first list of elements.
    list2 (list): The second list of elements.

    Returns:
    str: A comma-separated string of unique elements from both lists.
    """
    unique_elements = set(list1) | set(list2) #|means union two sets and only take unique values (drop duplicates)
 
    # convert the set back to a list (Optional: you can sort the list here with sorted(list(unique_elements)))
    combined_list = list(set(unique_elements))

    # convert the list of elements into a comma-separated string
    # we use map(str, combined_list) to ensure all elements are strings, as join() requires string operands
    result_string = ", ".join(map(str, combined_list))

    return result_string

# renew brief and thank you notes
def renew_upload_by (unique_combinations, df_new, col_name):
    """
    Updates a specified column in the df_new based on unique combinations from unique_combinations.

    Parameters:
    unique_combinations (DataFrame): DataFrame containing unique combinations to check against.
    df_new (DataFrame): The DataFrame to update.
    col_name (str): The name of the column to update.

    Returns:
    updated column in df_new with values from unique_combinations dataframe
    
    """
    for index, row in unique_combinations.iterrows():
        df_new['tt_handles'] = df_new['tt_handles'].astype(str)
        row['tt_handles'] = row['tt_handles'].astype(str)
        mask = df_new['tt_handles'] == row['tt_handles']
        df_new.loc[mask, col_name] = row[col_name]


# def delete_creator(file_name, df1):
#     # Load the excel file into a pandas DataFrame
#     df = pd.read_excel(f'{delete_creator_path}/{file_name}', dtype = str)
#     df2 = df.copy()

#     df1[['tt_handles', 'email']] = df1[['tt_handles', 'email']].astype(str)
#     df2[['tt_handles', 'email']] = df2[['tt_handles', 'email']].astype(str)

#     handles_df1 = df1['tt_handles'].isin(df2['tt_handles']) & (df1['tt_handles'] != "nan")
#     handles_df2 = df2['tt_handles'].isin(df1['tt_handles']) & (df2['tt_handles'] != "nan")
#     email_df1 = df1['email'].isin(df2['email']) & (df1['email'] != "nan")
#     email_df2 = df2['email'].isin(df1['email']) & (df2['email'] != "nan")

#     df1_filtered = df1[~(handles_df1 | email_df1)]

#     df2_filtered = df2[~(handles_df2 | email_df2)]

#     df1_filtered = df1_filtered.replace('nan', '')
#     df2_filtered = df2_filtered.replace('nan', '')
#     return df1_filtered, df2_filtered

# update the dataset with blacklisted users
def black_list(file_name, df1):
    """
    Marks entries in the dataframe as blacklisted based on matching tt_handles from an Excel file.

    Parameters:
    file_name (str): The name of the Excel file containing blacklisted tt_handles.
    df1 (DataFrame): The dataframe to update with blacklist information.

    Returns:
    df1 (DataFrame): updated dataframe with blacklist information.
    df3 (DataFrame): dataframe with tt_handles not found in the df1.
    """
    # Load the excel file into a pandas DataFrame
    df = pd.read_excel(f'{delete_creator_path}/{file_name}', dtype = str)
    df2 = df.copy()
    # return the boolean and convert to integer 
    # df1['blacklist'] = df1['tt_handles'].isin(df2['tt_handles']).astype(int)
    # df3 = df2[~(df2['tt_handles'].isin(df1['tt_handles']))]
    for name in df2['tt_handles']:
        df1.loc[df1['tt_handles'] == name, 'blacklist'] = 1
    df3 = df2[~(df2['tt_handles'].isin(df1['tt_handles']))]
    return df1, df3


def clean_category_str(cat_str):
    """
    Cleans a comma-separated category string by removing unwanted substrings like 'nan' and '0'.

    Parameters:
    cat_str (str): The category string to clean.

    Returns:
    str: The cleaned category string.
    """
    # Remove any 'nan' or '0' that are surrounded by commas and whitespace
    # '\b\s*(nan|0)\s*,\s*': 'nan' or '0' at the beginning of a string surrounded by whitespace, 
    # followed by a comma and more whitespace
    # '\s*,\s*\b(nan|0)\b': 'nan' or '0' at the end of a string surrounded by whitespace, 
    # preceded by a comma and more whitespace.
    cleaned_str = re.sub(r'\b\s*(nan|0)\s*,\s*|\s*,\s*\b(nan|0)\b', '', cat_str)
    # Remove any 'nan' or '0' if it is the only content of the string.
    # '^\s*': whitespace at the beginning of the string.
    # (nan|0): 'nan' or '0'
    # \s*$: whitespace at the end of the string. 
    cleaned_str = re.sub(r'^\s*(nan|0)\s*$', '', cleaned_str)
    # remove any leading and trailing whitespaces
    cleaned_str = cleaned_str.strip(', ')
    return cleaned_str


def update_follower_tier(val):
    """
    Determines the follower tier based on the number of followers.

    Parameters:
    val (int): The number of followers.

    Returns:
    str: The follower tier ('Macro', 'Micro', 'Nano'), or None if val is 0 or negative.
    """
    if val >= 100:
        return "Macro"
    elif 100 > val >= 10:
        return "Micro"
    elif val > 0:
        return "Nano"
    else:
        pass

def update_so_num_contact(col_list, data):
    """
    Updates the 'so_num_contact' column by summing values from specified columns.

    Parameters:
    col_list (list): List of column names to sum.
    data (DataFrame): The DataFrame containing the data.

    Returns:
    DataFrame: updated dataframe with the 'so_num_contact' column.
    """
    # convert column names to strings and compile into regular expression object from re pattern
    col_patterns = [re.compile(rf"{str(col)}") for col in col_list]

    # find all columns in data that match the patterns
    # use .search() method from the re object
    columns_need_to_add = [col for col in data.columns if any(pat.search(col) for pat in col_patterns)]

    # convert the matching columns to float and initialize 'so_num_contact' to 0
    data[columns_need_to_add] = data[columns_need_to_add].astype(float)
    data['so_num_contact'] = data[columns_need_to_add].sum(axis=1)

    return data

In [6]:
# The function to data from echotik
def echotik_clean_data(file_name):
    """
    Cleans and processes data from Echotik files.

    Parameter:
    file_name (str): The name of the Excel file to be processed.

    Returns:
    df_output (DataFrame): A cleaned dataframe with relevant columns and formatted rows.
    """
    # read file
    df = pd.read_excel(f'{echotik_folder_path}/{file_name}', dtype=str)
    
    # save a copy of the file marked as today's version
    df.to_excel(f'{copy_path_echotik}/{today}_{file_name}', index = False)
    print(f"Save: File {today}_{file_name} has been saved successfully.")

    # make a copy of the DataFrame for cleaning
    df_clean = df.copy()
    
    # reset the column names using the first row and drop the first row
    df_clean.columns = df_clean.loc[0] # use the 1st row as the column row in the excel sheet
    df_clean = df_clean.drop(df_clean.index[0]) # drop the 1st row as we use it as columns
    df_clean.columns = [col.lower() for col in df_clean.columns] # ensure columns are all lower cases
    # print(df_clean.columns)
    
    # identify the main category column
    if "influencer category" in df_clean.columns:
        main_filtered_elements = ["influencer category"]
        df_clean[main_filtered_elements[0]] = '' # set all values in the influencer category column as ''
    else:
        main_filtered_elements = [element for element in df_clean.columns if "product" in element or "category" in element]
    
    # splits the file_name string by spaces and takes the first part (before the first space) replace any & with ', '
    # extract detailed category value from file name
    detailed_category_value = file_name.split(' ')[0].lower().replace('&', ', ') 
    df_clean['detailed_category'] = detailed_category_value
    # print(main_filtered_elements)
    # print(df_clean.columns)
    
    # get useful columns
    df_clean = df_clean[['unique id', 'contact email', 'followers', 
                         main_filtered_elements[0], 'detailed_category']]
    df_clean.columns = ['tt_handles','email', 'follower_num', 'main_category', 'detailed_category']
    df_clean['main_category'] = df_clean['main_category'].apply(lambda x: str(x).lower().replace(' & ', ', '))
    
    # drop duplicate (what if the creater sells multiple categories and we lost the info)
    df_clean = df_clean.drop_duplicates(subset=['tt_handles'])
    # convert follower_num to float and normalize units
    df_clean['follower_num'] = df_clean['follower_num'].apply(lambda x: float(str(x).replace('K', '')) if 'K' in str(x)
                                                                                else (float(str(x).replace('M', '')) * 1000 if 'M' in str(x)
                                                                                        else float(x)/1000))
    # get correct format for tt_handles
    df_clean['tt_handles'] = df_clean['tt_handles'].apply(lambda x: str(x).replace('@', ''))
    # drop row without email
    df_clean = df_clean.dropna(subset=['email']).copy()
    # replace nans whith empty string
    df_clean = df_clean.replace('nan', '')
    # create a new column 'upload_date' with current date
    df_clean['upload_date'] = datetime.now().strftime('%Y-%m-%d')
    # create an output dataframe with relevant columns 
    df_output  = df_clean[['tt_handles', 'email', 'follower_num', 
                           'main_category', 'detailed_category', 'upload_date']].copy()
    # check column names are correct
    print(df_clean['tt_handles'].iloc[0])
    # check the shape of the dataset
    print(df_output.shape)
    # print('__________')
    return df_output

def manual_clean_data(file_name):
    """
    Cleans and processes data from manual folder files.

    Parameters:
    file_name (str): The name of the Excel file to be processed.

    Returns:
    df_valid (DataFrame): A cleaned dataframe with relevant columns and formatted data, or an empty dataframe if errors are found.
    """
    # Load the excel file into a pandas DataFrame
    df = pd.read_excel(f'{manual_folder_path}/{file_name}', dtype=str)
    
    # save it to excel file
    df.to_excel(f'{copy_path_manual}/{today}_{file}', index = False)
    print(f"Save: File {today}_{file} has been saved successfully.")
    
    # get the 1st part of the file name splited by .
    partial_name = file_name.split(".")[0]
    df_column = df.columns
    columns_not_in_masterpool = df.columns[~df.columns.isin(master.columns)]
    df_clean = df.copy()
    
    # initialize an empty dataframe
    df_valid = pd.DataFrame()
    
    # if the dataframe has 0 rows
    if df_clean.shape[0] == 0:
        df_clean.to_excel(f'{error_check_path}/{today}_{partial_name}_notthandles.xlsx', index = False)
        print(f'Error empty table: {error_check_path}/{partial_name}_empty.xlsx has been created')
        return df_valid
    
    #  check if 'tt_handles' column is present
    if 'tt_handles' not in df_column:
        df_invalid = df_clean.copy()
        df_invalid.to_excel(f'{error_check_path}/{today}_{partial_name}_notthandles.xlsx', index = False)
        print(f'Error tt_handles: {error_check_path}/{partial_name}_notthandles.xlsx has been created')
        return df_valid
    
    # check for columns not in the master pool
    if len(columns_not_in_masterpool) > 0:
        # print('wrong columns：', columns_not_in_masterpool)
        wrong_column = ', '.join(columns_not_in_masterpool)
        df_invalid = df_clean.copy()
        df_invalid.to_excel(f'{error_check_path}/{today}_{partial_name}_wrongcolumn_{wrong_column}.xlsx', index = False)
        print(f'Error wrong_columns: {error_check_path}/{partial_name}_wrongcolumn_{wrong_column}.xlsx has been created')
        return df_valid
    
    # clean and format 'first_name' column if present
    if 'first_name' in df_column:
        # Check if first_name has no spaces and starts with an uppercase followed by lowercase letters
        df_clean['first_name'] = df_clean['first_name'].apply(lambda x: ''.join(str(x).split()) if x != '' else x)
        # remove all whitespaces characters like tab, whitespaces, newlines
        df_clean['first_name'] = df_clean['first_name'].replace("\s+", "", regex=True)
        # capitalizing the first letter of each word and converting all other letters to lowercase.
        df_clean['first_name'] = df_clean['first_name'].str.title()
    
    # convert 'main_category' column to lowercase if present
    if 'main_category' in df_column:
        # Ensure video_category is in lowercase
        df_clean['main_category'] = df_clean['main_category'].str.lower()
    
    # validate and format 'upload_date' column if present
    if 'upload_date' in df_column:
        df_invalid = df_clean[df_clean['upload_date'].isna()]
        # print(df_invalid.head())
        if df_invalid.shape[0] > 0:
            df_clean.to_excel(f'{error_check_path}/{today}_{partial_name}_no_uploaddate.xlsx', index = False)
            print(f'Error upload_date: {error_check_path}/{partial_name}_no_uploaddate has been created')
            return df_valid
        # try and except blocks check upload date is present or not
        try:
            df_clean['upload_date'] = pd.to_datetime(df_clean['upload_date']).dt.date
            # df_clean['upload_date'] = df_clean['upload_date'].apply(lambda x: x.strftime('%Y-%m-%d'))
        except ValueError:
            df_clean.to_excel(f'{error_check_path}/{today}_{partial_name}_uploaddate_wrongformat.xlsx', index = False)
            print(f'Error upload_date: {error_check_path}/{partial_name}_uploaddate_wrongformat has been created')
            return df_valid
    
    # validate email format if 'email' column is present
    if 'email' in df_column:
        # Regex pattern to check for a valid email format
        # ^means at the beginning, +means at least once, $means at the end
        pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
        # Apply a lambda function to check if each email matches the pattern
        df_clean['email'] = df_clean['email'].apply(lambda x: ''.join(str(x).split()) if pd.notna(x) else x)
        # remove any whitespaces characters
        df_clean['email'] = df_clean['email'].replace("\s+", "", regex=True)
        # check if a row in email column has nan or ''
        df_clean['valid_email'] = df_clean['email'].apply(lambda x: bool(re.match(pattern, str(x))) if pd.notna(x) and x != '' else False)

        # filter out invalid emails
        df_clean = df_clean[df_clean['valid_email']].copy()
        df_invalid = df_clean[~(df_clean['valid_email'])].copy()
        if df_invalid.shape[0] > 0:
            df_invalid.to_excel(f'{error_check_path}/{today}_{partial_name}_error_email.xlsx', index = False)
            print(f'Error email: {error_check_path}/{partial_name}_error_email.xlsx has been created')
    df_clean = df.replace('nan', '')
    df_valid = df_clean[df_column].copy()
    # deleted merged manual table
    # file_path_to_delete = f'{manual_folder_path}/{file_name}'
    # delete_file(file_path_to_delete)

    return df_valid

In [7]:
# The function to update clean data to the original master pool
def combine_category(df1, df2):
    """
    Combines the categories from two dataframes based on 'tt_handles'.
    
    Args:
    df1 (DataFrame): First dataframe containing TikTok handles and categories.
    df2 (DataFrame): Second dataframe containing TikTok handles and categories.

    Returns:
    merged_df(DataFrame): A merged dataframe with combined categories and other relevant columns.
    """
    # combining the categories from both dataframes using outer join
    merged_df = pd.merge(df1, df2, on=['tt_handles'], how='outer', suffixes=('_1', '_2'))
    merged_df_column = merged_df.columns
    # print(merged_df_column)
    # print('main_category_1' in merged_df_column)
    # print('upload_date_1' in merged_df_column)
    
    # check and process 'main_category' columns
    if  'main_category_1' in merged_df_column:
        # convert 'main_category_1' and 'main_category_2' columns to string type
        merged_df[['main_category_1', 'main_category_2']] = merged_df[['main_category_1', 'main_category_2']].astype(str)
        # combine 'main_category' columns and apply unique_category function and split values based on comma or white spaces
        merged_df['main_category'] = merged_df.apply(
            lambda row: unique_category(
                re.split(',\s*', row['main_category_1']),
                re.split(',\s*', row['main_category_2'])
            ),
            axis=1
        )
        # drop the original 'main_category' columns
        merged_df.drop(columns=['main_category_1', 'main_category_2'], inplace=True)
        # clean the combined 'main_category' string
        merged_df['main_category'] = merged_df['main_category'].apply(lambda x: clean_category_str(x))
        
        # merged_df['main_category'] = merged_df['main_category'].str.replace(r'\b(nan|0)\b\s*(,\s*)?', '', regex=True)
        # merged_df['main_category'] = merged_df['main_category'].str.replace(r',\s*,', ', ', regex=True)
        # merged_df['main_category'] = merged_df['main_category'].str.strip(', ').str.rstrip(',')
        
    # check and process 'detailed_category' columns
    if  'detailed_category_1' in merged_df_column:
        # convert 'detailed_category_1' and 'detailed_category_2' columns to string type
        merged_df[['detailed_category_1', 'detailed_category_2']] = merged_df[['detailed_category_1', 'detailed_category_2']].astype(str)
        # combine 'detailed_category' columns and apply unique_category function
        merged_df['detailed_category'] = merged_df.apply(
            lambda row: unique_category(
                re.split(',\s*', row['detailed_category_1']),
                re.split(',\s*', row['detailed_category_2'])
            ),
            axis=1
        )
        # drop the original 'detailed_category' columns
        merged_df.drop(columns=['detailed_category_1', 'detailed_category_2'], inplace=True)
        # clean the combined 'detailed_category' string
        merged_df['detailed_category'] = merged_df['detailed_category'].apply(lambda x: clean_category_str(x))
    # check and process 'upload_date' columns
    if 'upload_date_1' in merged_df_column:
        # use 'upload_date_1' if available, otherwise use 'upload_date_2'
        merged_df['upload_date'] = merged_df.apply(lambda row: row['upload_date_1'] if pd.notna(row['upload_date_1']) else row['upload_date_2'], axis=1)
        # drop the original 'upload_date' columns
        merged_df.drop(columns=['upload_date_1', 'upload_date_2'], inplace=True)
    #  Process so_num_onboardings, so_num_newrelease, so_num_discount, so_num_tap, so_num_tap_comfirm for summation
    for col_name in df2.columns:
        if 'so_num_onboardings' in col_name or 'so_num_newrelease' in col_name or 'so_num_discount' in col_name or 'so_num_tap' in col_name or 'so_num_tap_comfirm' in col_name:
            # concatenate corresponding columns and drop the originals
            merged_df[col_name] = merged_df[f'{col_name}_1'].astype(str) + merged_df[f'{col_name}_2'].astype(str)
            merged_df.drop(columns=[f'{col_name}_1', f'{col_name}_2'], inplace=True)
            # print(col_name)
        # update remaining columns, excluding 'tt_handles', 'main_category', 'upload_date', and 'detailed_category'
        elif col_name != 'tt_handles' and col_name != 'main_category' and col_name != 'upload_date' and col_name != 'detailed_category':
            update_info(merged_df, col_name)
    
    # replace 'nan' with empty strings
    merged_df = merged_df.replace('nan', '')
    # drop duplicate rows based on 'tt_handles'
    merged_df = merged_df.drop_duplicates(subset=['tt_handles'], keep='first')
    print(merged_df.shape)
    print('------------------------')
    return merged_df

In [8]:
# create a copy of master dataframe
df1 = master.copy()
print(f'Original data shape: {df1.shape}')

# apply the previously defined echotik_clean_data function clean datasets in echotik folder
if len(echotik_file_names) > 0:
    for file in echotik_file_names:
        print(file)
        # clean each data form echotik
        df2 = echotik_clean_data(file)

        # df2.to_excel(f'{copy_path_echotik}/{today}_{file}', index = False)
        # print(f"Save: File {today}_{file} has been saved successfully.")

        # delete merged echotik table
        # file_path_to_delete = f'{echotik_folder_path}/{file}'
        # delete_file(file_path_to_delete)

        # merge these clean data into master pool
        df_result = combine_category(df1, df2)

        df1 = df_result.copy()
    print(f'After enchotik data shape: {df1.shape}')

# apply the previously defined manual_clean_data function clean datasets in manual upload folder
if len(manual_file_names) > 0:
    # clean data in manual upload
    for file in manual_file_names:
        print(file)
        df2 = manual_clean_data(file)


        # deleted merged manual table
        # file_path_to_delete = f'{manual_folder_path}/{file}'
        # delete_file(file_path_to_delete)

        if df2.shape[0] > 0:
            # merge manual table master pool
            df_result = combine_category(df1, df2)
            df1 = df_result.copy()
        else:
            print('------------------------')
    print(f'After Manual data shape: {df1.shape}')



# apply the previously defined black_list function clean datasets in blacklist folder
df_result, blacklist_creator_table = black_list(deletecreator_file_names[0], df1)
# save the table to the folder path
blacklist_creator_table.to_excel(f'{delete_creator_path}/{deletecreator_file_names[0]}',index=False)
print(f'Wrong tt_handles in blacklist: {blacklist_creator_table.shape}')
print('*************************')
df1 = df_result.copy()

Original data shape: (60325, 125)
Fhaye_scouting_DolceJbNhie_20240520.xlsx
Save: File 2024-05-31 14:49:25_Fhaye_scouting_DolceJbNhie_20240520.xlsx has been saved successfully.
(60323, 125)
------------------------
emails_20240531.xlsx
Save: File 2024-05-31 14:49:25_emails_20240531.xlsx has been saved successfully.
(60323, 125)
------------------------
Elaiza_updaterate_20240531.xlsx
Save: File 2024-05-31 14:49:25_Elaiza_updaterate_20240531.xlsx has been saved successfully.
Error tt_handles: /content/drive/MyDrive/so_affiliate/master_pool/upload_error_check/Elaiza_updaterate_20240531_notthandles.xlsx has been created
------------------------
After Manual data shape: (60323, 125)
Wrong tt_handles in blacklist: (15, 1)
*************************

In [9]:
# define today's date in 'US/Pacific' timezone
today = datetime.now(pytz.timezone('US/Pacific')).strftime('%Y-%m-%d')
def parse_date_with_multiple_formats(date_str):
    """
    Parses a date string using multiple formats and returns a date object.
    
    If the date string does not match any of the provided formats, today's date
    in 'US/Pacific' timezone is returned.

    Parameters:
    date_str (str): The date string to be parsed.

    Returns:
    datetime.date object: Parsed date object or today's date if parsing fails.
    """
    # List of date formats to try
    formats = ['%Y-%m-%d','%Y-%m-%d %H:%M:%S']
    for fmt in formats:
        try:
            return pd.to_datetime(date_str, format=fmt).date()
        except ValueError:
            # print(date_str)
            # if parsing fails, continue to the next format
            continue
    # if all formats fail, return today's date
    return today

In [10]:
# create a copy of df1 with the columns specified in master_column
final_df = df1[master_column].copy()
# convert 'follower_num' column to numeric, coercing errors to NaN
final_df['follower_num'] = pd.to_numeric(final_df['follower_num'], errors='coerce')
# update 'follower_tier' column based on the numeric values in 'follower_num' using update_follower_tier function
final_df['follower_tier'] = final_df['follower_num'].apply(update_follower_tier)
# list of columns to update for so_num_contact
col_list = ['so_num_onboardings', 'so_num_newrelease', 'so_num_discount']
# update specific columns in final_df using the update_so_num_contact function
final_df = update_so_num_contact(col_list, final_df)
# replace all nan in the dataframe with empty string
final_df = final_df.replace('nan', '')
# set 'upload_date' to today's date if it is null
final_df.loc[final_df['upload_date'].isnull(), 'upload_date'] = today
# parse 'upload_date' column using the parse_date_with_multiple_formats function
final_df['upload_date'] = final_df['upload_date'].apply(parse_date_with_multiple_formats)
# convert 'upload_date' column to string format
final_df['upload_date'] = final_df['upload_date'].astype(str)

# export the final view
final_df.to_csv(f'{master_pool_path}/affiliate_masterpool.csv', index = False)
print(f"{master_pool_path}/affiliate_masterpool.csv has been updated")

/content/drive/MyDrive/so_affiliate/master_pool/master_pool_view/affiliate_masterpool.csv has been updated

In [11]:
print(master.shape)
print(final_df.shape)
# number of rows difference between master df and final df
print(final_df.shape[0] - master.shape[0])

(60325, 125)
(60323, 125)
-2

In [12]:
# generate a clean version of the processed dataframe
clean_view = final_df[['tt_handles', 'first_name', 'email', 'main_category', 'detailed_category',
                 'gmv', 'avg_commission_rate', 'tts_commerce', 'follower_num', 'blacklist', 'avoid_contact', 'upload_date']].copy()
clean_view.to_excel(f'{clean_view_path}/clean_view.xlsx', index = False)
print(f"{clean_view_path}/clean_view.xlsx has been updated")

/content/drive/MyDrive/so_affiliate/master_pool/clean_view/clean_view.xlsx has been updated

In [13]:
jenny_view_path = f'{base_path}/jenny_view'
jennyview_file_names = [f for f in os.listdir(jenny_view_path) if os.path.isfile(os.path.join(jenny_view_path, f))]
print('jenny_view: ', jennyview_file_names)

jenny_view = final_df[['tt_handles', 'first_name', 'email', 'main_category', 'detailed_category',
                 'avg_vv', 'avg_engagement', 'gmv', 'avg_commission_rate', 'units_sold',
                 'ave_sv_vv', 'avg_sv_engagement',
                 'tts_commerce', 'gender','follower_num', 'tts_rate', 'brand_collab', 'prod_price',
                 'so_num_collab', 'so_num_collab_milk','so_num_collab_babor', 'so_num_collab_nhie', 'so_num_collab_byrd',
                 'so_num_collab_pacas', 'so_num_collab_ptr','so_num_collab_juice_beauty', 'so_num_collab_dolce_glow',
                 'follower_male_percent', 'follower_female_percent',
                 'follower_age18_24_percent','follower_age25_34_percent', 'follower_age35_44_percent', 'follower_age45_54_percent', 'follower_age_over55_percent',
                 'blacklist','avoid_contact', 'upload_date']].copy()
jenny_view.to_excel(f'{jenny_view_path}/jenny_view.xlsx', index = False)
print(f"{jenny_view_path}/jenny_view.xlsx has been updated")

jenny_view:  ['jenny_view.xlsx']
/content/drive/MyDrive/so_affiliate/master_pool/jenny_view/jenny_view.xlsx has been updated

In [14]:
final_df[final_df['upload_date'].isnull()] # ensure the dataset contains no null or nan values

Empty DataFrame
Columns: [tt_handles, follower_tier, social_media, gender, base_in, age_des, detailed_category, video_num, avg_vv, avg_like, avg_comment, avg_share, avg_save, avg_engagement, avg_duration, top1_vv, top1_like, top3_videolink, tts_rate, so_num_collab, so_tik_star, so_num_contact, top1_location, top1_location_percentage, top2_location, top2_location_percentage, top3_location, top3_location_percentage, so_num_onboardings_milk, so_num_newrelease_milk, so_num_discount_milk, so_num_tap_milk, so_num_tap_comfirm_milk, so_num_onboardings_babor, so_num_newrelease_babor, so_num_discount_babor, so_num_tap_babor, so_num_tap_comfirm_babor, so_num_onboardings_byrd, so_num_newrelease_byrd, so_num_discount_byrd, so_num_tap_byrd, so_num_tap_comfirm_byrd, so_num_onboardings_nhie, so_num_newrelease_nhie, so_num_discount_nhie, so_num_tap_nhie, so_num_tap_comfirm_nhie, so_num_onboardings_pacas, so_num_newrelease_pacas, so_num_discount_pacas, so_num_tap_pacas, so_num_tap_comfirm_pacas, so_num_onboardings_ptr, so_num_newrelease_ptr, so_num_discount_ptr, so_num_tap_ptr, so_num_tap_comfirm_ptr, so_num_onboardings_juicy_beauty, so_num_newrelease_juice_beauty, so_num_discount_juice_beauty, so_num_tap_juice_beauty, so_num_tap_comfirm_juice_beauty, blacklist, first_name, so_num_onboardings_juice_beauty, so_num_onboardings_dolce_glow, so_num_newrelease_dolce_glow, so_num_discount_dolce_glow, so_num_tap_dolce_glow, so_num_tap_comfirm_dolce_glow, uid, so_num_onboardings_tower28, so_num_newrelease_tower28, so_num_discount_tower28, so_num_tap_tower28, so_num_tap_comfirm_tower28, avoid_contact, main_category, follower_num, gmv, units_sold, gpm, gmv_per_buyer, avg_commission_rate, num_product, num_brand_collab, brand_collab, prod_price, video_gpm, sv_num, ave_sv_vv, avg_sv_engagement, avg_sv_like, avg_sv_comment, avg_sv_share, live_gpm, live_num, ave_live_viewer, avg_live_engagement, ...]
Index: []

[0 rows x 125 columns]

In [15]:
pd.set_option('display.max_seq_items', None) #display all elements in arrays, lists and so on.
print(final_df.columns)

Index(['tt_handles', 'follower_tier', 'social_media', 'gender', 'base_in',
       'age_des', 'detailed_category', 'video_num', 'avg_vv', 'avg_like',
       'avg_comment', 'avg_share', 'avg_save', 'avg_engagement',
       'avg_duration', 'top1_vv', 'top1_like', 'top3_videolink', 'tts_rate',
       'so_num_collab', 'so_tik_star', 'so_num_contact', 'top1_location',
       'top1_location_percentage', 'top2_location', 'top2_location_percentage',
       'top3_location', 'top3_location_percentage', 'so_num_onboardings_milk',
       'so_num_newrelease_milk', 'so_num_discount_milk', 'so_num_tap_milk',
       'so_num_tap_comfirm_milk', 'so_num_onboardings_babor',
       'so_num_newrelease_babor', 'so_num_discount_babor', 'so_num_tap_babor',
       'so_num_tap_comfirm_babor', 'so_num_onboardings_byrd',
       'so_num_newrelease_byrd', 'so_num_discount_byrd', 'so_num_tap_byrd',
       'so_num_tap_comfirm_byrd', 'so_num_onboardings_nhie',
       'so_num_newrelease_nhie', 'so_num_discount_nhie', 'so_num_tap_nhie',
       'so_num_tap_comfirm_nhie', 'so_num_onboardings_pacas',
       'so_num_newrelease_pacas', 'so_num_discount_pacas', 'so_num_tap_pacas',
       'so_num_tap_comfirm_pacas', 'so_num_onboardings_ptr',
       'so_num_newrelease_ptr', 'so_num_discount_ptr', 'so_num_tap_ptr',
       'so_num_tap_comfirm_ptr', 'so_num_onboardings_juicy_beauty',
       'so_num_newrelease_juice_beauty', 'so_num_discount_juice_beauty',
       'so_num_tap_juice_beauty', 'so_num_tap_comfirm_juice_beauty',
       'blacklist', 'first_name', 'so_num_onboardings_juice_beauty',
       'so_num_onboardings_dolce_glow', 'so_num_newrelease_dolce_glow',
       'so_num_discount_dolce_glow', 'so_num_tap_dolce_glow',
       'so_num_tap_comfirm_dolce_glow', 'uid', 'so_num_onboardings_tower28',
       'so_num_newrelease_tower28', 'so_num_discount_tower28',
       'so_num_tap_tower28', 'so_num_tap_comfirm_tower28', 'avoid_contact',
       'main_category', 'follower_num', 'gmv', 'units_sold', 'gpm',
       'gmv_per_buyer', 'avg_commission_rate', 'num_product',
       'num_brand_collab', 'brand_collab', 'prod_price', 'video_gpm', 'sv_num',
       'ave_sv_vv', 'avg_sv_engagement', 'avg_sv_like', 'avg_sv_comment',
       'avg_sv_share', 'live_gpm', 'live_num', 'ave_live_viewer',
       'avg_live_engagement', 'avg_live_like', 'avg_live_comment',
       'avg_live_share', 'follower_male_percent', 'follower_female_percent',
       'follower_age18_24_percent', 'follower_age25_34_percent',
       'follower_age35_44_percent', 'follower_age45_54_percent',
       'follower_age_over55_percent', 'tts_commerce', 'cid', 'email',
       'so_num_collab_milk', 'so_num_collab_babor', 'so_num_collab_nhie',
       'so_num_collab_byrd', 'so_num_collab_pacas', 'so_num_collab_ptr',
       'so_num_collab_juice_beauty', 'so_num_collab_dolce_glow', 'phone',
       'address', 'upload_date', 'so_num_collab_tower28'],
      dtype='object')

In [16]:
final_df[~final_df['email'].isna()].shape

(30065, 125)